[Desktop Entry]
Name=Sozi
Comment=A zooming presentation based on SVG, using JavaScript
Exec=sozi %U
Icon=Sozi
Terminal=false
Type=Application
Categories=Office;
